.movieDetails {
  line-height: 1.4;
  font-size: 1.4rem;
}

.movieDetails header {
  display: flex;
}

.movieDetails section {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.movieDetails img {
  width: 33%;
}

.movieDetailsOverview {
  width: 100%;
  padding: 2.4rem 3rem;
  background-color: var(--color-background-100);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.movieDetailsOverview h2 {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
  line-height: 1.1;
}

.movieDetailsOverview p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.rating {
  background-color: var(--color-background-100);
  border-radius: 0.9rem;
  padding: 2rem 2.4rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.btnAdd {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btnAdd:hover {
  background-color: var(--color-primary-light);
}

@media (max-width: 800px) {
  .movieDetails {
    width: 100%;
  }

  .movieDetails section {
    padding: 3rem 2.2rem;
    gap: 1.6rem;
  }

  .movieDetailsOverview {
    width: 100%;
    padding: 1.6rem;
    gap: 1rem;
  }

  .movieDetailsOverview h2 {
    font-size: 1.8rem;
    line-height: 1;
  }

  .movieDetailsOverview p {
    gap: 0.6rem;
    font-size: 1.4rem;
  }

  .rating {
    padding: 2rem 2.4rem;
    margin-bottom: 0.8rem;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }
}

@media (min-width: 760px) and (max-width: 770px) {
  .movieDetailsOverview h2 {
    font-size: 2.8rem;
    line-height: 1;
  }

  .movieDetailsOverview p {
    gap: 1rem;
    font-size: 2rem;
  }

  .btnAdd {
    width: 60%;
    justify-self: center;
  }

  .movieDetails section {
    font-size: 2.2rem;
  }

  .movieDetailsOverview {
    gap: 2rem;
  }
}
