.navBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 7.2rem;
  padding: 0 3.2rem;
  background-color: var(--color-primary);
  border-radius: 0.9rem;
  width: 100%;
  gap: 2rem;
}

.icon {
  font-size: 1.8rem;
  color: #fff;
}

@media (max-width: 800px) {
  .navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    padding: 0 1.8rem;
    height: 4.8rem;
    border-radius: 0.9rem;
    gap: 0;
  }
}
