.expensesContainer {
  background-color: var(--color-dark--1);
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #f4a226;
  color: var(--color-dark--1);
  position: relative;
  display: flex;
  align-items: center;
}

.header h1 {
  font-size: 5rem;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.expensesForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;
  margin-bottom: 3rem;
}

.formHeading {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 1.3rem;
}

.flex {
  display: flex;
  gap: 2.2rem;
}

.row input,
.row select {
  border-radius: 10rem;
  background-color: #ffebb3;
}

.row button {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  cursor: pointer;
  border: none;
  background-color: #76c7ad;
  font-weight: 525;
}

.expensesContent {
  font-size: 2.3rem;
}

.tripDetails {
  margin-left: 5rem;
}

.tableContainer {
  margin-top: 1.8rem;
  max-height: 26rem;
  overflow-y: auto;
}

.tableContainer::-webkit-scrollbar {
  width: 0;
}

.tableContainer table {
  width: 80%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
}

table th,
td {
  border: 1px solid var(--color-light--2);
  text-align: center;
  padding: 0.4rem 0.4rem;
}

thead th {
  position: sticky;
  top: 0;
  background-color: var(--color-dark--1);
  z-index: 2;
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.expensesContent button {
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: #dc143c;
  color: var(--color-light--2);
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
}

.expensesContent button:hover {
  background-color: #ff4d4d;
  transform: scale(1.1);
}

.footer {
  background-color: #414449;
  position: absolute;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer p {
  font-size: 2.2rem;
  color: var(--color-light--2);
}

.backBtn {
  background-color: #54595f;
  color: #e0e0e0;
  text-decoration: none;
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.expenseList {
  display: none;
}

@media (max-width: 768px) {
  .expensesContainer {
    background-color: #555d61;
  }

  .header {
    background-color: #f7b030;
    padding: 1rem;
    margin-bottom: 0.4rem;
  }

  .header h1 {
    font-size: 2rem;
  }

  .row input,
  .row select {
    background-color: #feebb3;
  }

  .row button {
    background-color: #7bc5a2;
  }

  .backBtn {
    height: 3rem;
    width: 3rem;
  }

  .expensesForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.7rem;
    margin-bottom: 1.2rem;
    padding: 0 1.2rem;
  }

  .formHeading {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 0.6rem;
  }

  .flex {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    justify-content: stretch;
  }

  .itemInput {
    width: 100%;
  }

  .row button {
    width: 100%;
  }

  .expensesContent {
    font-size: 1.6rem;
  }

  .tripDetails {
    margin-left: 2rem;
    margin-bottom: 0;
  }

  .tripDetails h2 {
    font-size: 2rem;
  }

  .tripDetails span {
    display: none;
  }

  .tableContainer {
    display: none;
  }

  .expenseList {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.7rem;
    height: 28rem;
    margin: 0.6rem 1rem;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .expenseList::-webkit-scrollbar {
    width: 0;
  }

  .expenseItem {
    background-color: #e8f0f8;
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.1fr;
    position: relative;
    color: var(--color-dark--1);
  }

  .row button:active {
    transform: scale(0.96);
  }

  .expenseInfoBox1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
  }

  .expenseInfoBox2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
    font-size: 1.5rem;
  }

  .itemName {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .category {
    font-size: 1.4rem;
    background-color: #b3dbd0;
    padding: 0.2rem 0.6rem;
    border-radius: 1.6rem;
    text-align: center;
  }

  .footer {
    padding: 0.8rem 0;
  }

  .footer p {
    font-size: 1.7rem;
    text-align: center;
  }
  .footer em {
    display: block;
  }
}
