:root {
  --bg-main: #f5f7fa; /* Page background */
  --bg-card: #ffffff; /* Cards */
  --text-primary: #1f2937; /* Main text */
  --text-secondary: #6b7280; /* Light text */
  --success: #22c55e; /* Income */
  --danger: #ef4444; /* Expense */
  --warning: #f59e0b;
  --border: #e5e7eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-main);
  color: var(--text-primary);
}
