.header {
  padding: 1.8rem 3rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--border);
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
    border-bottom: 0.3px solid black;
  }
}
