.trip {
  width: 90%;
  max-height: 100%;
  color: var(--color-light--2);
  margin: 1.4rem auto;
  padding: 2.5rem;
  background: var(--color-dark--2);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: Arial, sans-serif;
  position: relative;
}

.tripHeader {
  border-bottom: 1px solid #fbfcf8;
  margin-bottom: 1.5rem;
}

.tripHeader h1 {
  margin-bottom: 0.3rem;
  font-size: 3rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tripDates,
.tripCurrency {
  color: var(--color-light--1);
  font-size: 1.8rem;
  display: flex;
}

.tripDates span,
.tripCurrency span {
  margin-right: 0.8rem;
  display: inline-block;
  width: 2rem;
}

.tripFooter {
  display: flex;
  justify-content: flex-end;
}

.link:link,
.link:visited {
  display: inline-block;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.backBtn,
.btn {
  background-color: #54595f;
  color: #e0e0e0;
  cursor: pointer;
  text-decoration: none;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
}

.btn {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: #00c46a;
  color: var(--color-light--2);
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .trip {
    width: 96%;
    height: 89.5%;
    padding: 1.4rem;
  }

  .tripHeader {
    margin-bottom: 0.6rem;
  }

  .tripHeader h1 {
    margin-bottom: 0;
    font-size: 2rem;
  }

  .flex {
    gap: 0.6rem;
  }

  .tripDates {
    margin-top: 0.4rem;
  }

  .tripDates,
  .tripCurrency {
    font-size: 1.6rem;
    display: flex;
  }

  .tripDates span,
  .tripCurrency span {
    display: inline-block;
    width: 2rem;
  }

  .tripDates p,
  .tripCurrency p {
    display: inline;
  }

  .tripFooter {
    align-items: center;
    margin-top: 1.1rem;
  }

  .link:link,
  .link:visited {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1rem 1.6rem;
  }

  .btn {
    height: 4.4rem;
    width: 4.4rem;
    font-size: 2.8rem;
    top: -0.85rem;
    right: -0.85rem;
  }
}
