:root {
  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;

  --color-theme: #1098ad;
  --color-accent: #ffa94d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  color: var(--color-light);
  background-color: var(--color-darkest);
}

.app {
  display: flex;
  height: 100vh;
}

.app-main {
  flex: 1;
  padding: 2.3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.main {
  width: 80%;
}

.app-header {
  width: 66rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 14rem;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

h4 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finish {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

.btn:not([disabled]):hover {
  background-color: var(--color-darkest);
}

.btn-option:not([disabled]):hover {
  transform: translateX(1.2rem);
}

.btn[disabled]:hover {
  cursor: not-allowed;
}

.btn-ui {
  float: right;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem;
  background-color: #495057;
  border-radius: 100px;
}

.question {
  width: 100%;
  padding: 0 auto;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 60%;
  margin-bottom: 3.2rem;
}

.btn-option {
  text-align: left;
}

.btn-option.correct {
  background-color: var(--color-theme);
  border: 2px solid var(--color-theme);
  color: var(--color-light);
}
.btn-option.wrong {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  color: var(--color-darkest);
}

.answer {
  transform: translateX(2rem);
}

.progress {
  margin-bottom: 4rem;
  display: grid;
  justify-content: space-between;
  gap: 1.2rem;
  grid-template-columns: auto auto;
  font-size: 1.8rem;
  color: var(--color-medium);
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: var(--color-medium);
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: var(--color-theme);
  border-radius: 100px;
}

.result {
  background-color: var(--color-theme);
  color: var(--color-light);
  border-radius: 100px;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.result span {
  font-size: 2.2rem;
  margin-right: 4px;
}

.highscore {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

.footer {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.hide {
  visibility: hidden;
}

.question-navigator {
  background-color: #fff;
  color: #000;
  width: 41rem;
  height: 100vh;
  padding: 2.3rem;
  display: flex;
  flex-direction: column;
}

.status-legend {
  border: 2px dashed black;
  padding: 1.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.nav-btn {
  height: 3.6rem;
  width: 3.6rem;
  border: 0.5px solid black;
  border-radius: 0.4rem;
  margin-right: 8px;
  cursor: text;
}

.nav-btn-label {
  font-size: 1.6rem;
  display: inline;
}

.answered {
  background-color: #1db954;
  color: #fff;
}

.not-answered {
  background-color: #ff0000;
  color: #fff;
}

.not-visited {
  background-color: #eee;
}

.question-palette {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 8px;
  padding: 1.8rem;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

.clickable {
  cursor: pointer;
}
