@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.message {
  text-align: center;
  font-size: 1.8rem;
  width: 80%;
  margin: 4rem auto;
  font-weight: 600;
  animation: shake 0.3s ease;
}
